<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="registration-box">
        <div class="background-image">
<h1>Create Account</h1>
            
            <form (submit)="registerSubmit(registrationForm)" #registrationForm="ngForm">

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" id="firstName" name="firstName"
                            [(ngModel)]="user.firstName" placeholder="First Name" required maxlength="20">
                    </div>
                    <div *ngIf="registrationForm.controls['firstName'].invalid && registrationForm.controls['firstName'].touched"
                        class="error-message">
                        Please provide a first name.
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" id="lastName" name="lastName"
                            [(ngModel)]="user.lastName" placeholder="Last Name" required maxlength="20">
                    </div>
                    <div *ngIf="registrationForm.controls['lastName'].invalid && registrationForm.controls['lastName'].touched"
                        class="error-message">
                        Please provide a last name.
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input type="text" class="form-control" id="mobileNumber" name="mobileNumber"
                            [(ngModel)]="user.mobileNumber" placeholder="Mobile Number" required
                            pattern="^[6789]\d{9}$">
                    </div>
                    <div *ngIf="registrationForm.controls['mobileNumber'].errors?.['required'] && registrationForm.controls['mobileNumber'].touched"
                        class="error-message">
                        Mobile number is required.
                    </div>
                    <div *ngIf="registrationForm.controls['mobileNumber'].errors?.['pattern'] && registrationForm.controls['mobileNumber'].touched"
                        class="error-message">
                     Phonenumber should start with 6, 7, 8, or 9.
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="email" class="form-control" id="emailId" name="emailId" [(ngModel)]="user.emailId"
                            placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
                            maxlength="30">
                    </div>
                    <div *ngIf="registrationForm.controls['emailId'].invalid && registrationForm.controls['emailId'].touched"
                        class="error-message">
                        Please provide a valid email address.
                    </div>
                </div>
                <div class="form-group">
                    <label>Gender:</label>
                    <div class="radio">
                        <label><input type="radio" name="gender" [(ngModel)]="user.gender" value="male">Male</label>
                        <label><input type="radio" name="gender" [(ngModel)]="user.gender" value="female">Female</label>
                        <label><input type="radio" name="gender" [(ngModel)]="user.gender" value="other">Other</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input type="text" class="form-control" id="address" name="address" [(ngModel)]="user.address"
                            placeholder="Address" required>
                    </div>
                    <div *ngIf="registrationForm.controls['address'].invalid && registrationForm.controls['address'].touched"
                        class="error-message">
                        Please provide an address.
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" id="password" name="password"
                            [(ngModel)]="user.password" placeholder="Password" required
                            pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%?&])[A-Za-z\d@$!%*?&]{8,12}$" minlength="8"
                            maxlength="12">
                    </div>
                    <div *ngIf="registrationForm.controls['password'].invalid && registrationForm.controls['password'].touched"
                        class="error-message">
                        Please provide a password.
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                            [(ngModel)]="user.confirmPassword" placeholder="Confirm Password" required minlength="8"
                            maxlength="12">
                    </div>
                    <div *ngIf="registrationForm.controls['confirmPassword'].invalid && registrationForm.controls['confirmPassword'].touched"
                        class="error-message">
                        Please confirm your password.
                    </div>
                    <div *ngIf="registrationForm.dirty && user.password !== user.confirmPassword" class="error-message">
                        Passwords do not match.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary register-button" [disabled]="!registrationForm.valid">Register</button>
                <div class="form-group">
                    <p>Already have an account? <a routerLink="/login">Login here</a></p>
                </div>
                
            </form>
        </div>
        </div>
    </div>
    

</body>

</html>
