.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  body{
    background-color:lightblue;
  }
  .registration-box {
    background-color: #f0f0f0; /* Grey background color */
    padding: 20px; /* Add padding for better spacing */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    width: 400px; /* Set the width of the box */
    max-width: 100%; /* Ensure the box doesn't overflow on smaller screens */
}
  
  .heading {
    
    margin-bottom: 20px;
  }

  error-message{
    color: red;
  }
  .has-error input,
.has-error textarea,
.has-error select {
    border-color: red;
}

.has-success input,
.has-success textarea,
.has-success select {
    border-color: green;
}

.error-message {
    color: red;
}