<!-- your-component.component.html -->

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="" >UrbanNest</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Budget</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gender</a>
          </li>
          <!-- Updated dropdown with additional items -->
         <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Locality
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Gachibowli</a>
              <a class="dropdown-item" href="#">Hitech City</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated Link 1</a>
              <a class="dropdown-item" >Separated Link 2</a>
            </div>
          </li>--> 
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  