<html>

<body>
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <h2>UserLogin</h2>
                <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
                    <input type="text" formControlName="email" placeholder="EMAIL" />
                    <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
                        <div *ngIf="loginForm.get('email')?.hasError('required')">Please enter an email address.</div>
                        <div *ngIf="loginForm.get('email')?.hasError('email')">Please enter a valid email address.</div>
                    </div>
                    <input type="password" formControlName="password" placeholder="PASSWORD" />
                    <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
                        <div *ngIf="loginForm.get('password')?.hasError('required')">Please enter a password.</div>
                        <div *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 6
                            characters long.</div>
                    </div>
                    <ngx-recaptcha2 #captchaElem
                      [siteKey]="siteKey"
                      (resolved)="onCaptchaResolved($event)">
                    </ngx-recaptcha2>
                    <button type="submit" [disabled]="loginForm.invalid" class="btn-btn-primary">SUBMIT</button>
                </form>


                <div class="register-forget opacity">
                    <a href="register">REGISTER</a>
                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
</body>

</html>